{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Home</h1>
    <div id="root">
        <script src="{{ asset('build/app.js') }}"></script>
    </div>
{% endblock %}
